@{

    ViewData["Title"] = "Trang chủ";
    List<Product> lstProducts = ViewBag.ProductList;
    List<MenuDetail> menuToday = ViewBag.MenuToday;
   
    //unit of currency
    var UOC_Format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<!--================Slider Area =================-->
<section class="main_slider_area">
    <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
        <ul>
            <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="~/img/home-slider/slider-3.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/img/home-slider/slider-3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>

                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['175','175','125','165','160']"
                         data-fontsize="['65','65','65','40','30']"
                         data-lineheight="['80','80','80','50','40']"
                         data-width="['800','800','800','500']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left']">Chất lượng sản phẩm ... <br />với sữa, trứng và bánh mì</div>

                    <div class="tp-caption tp-resizeme secand_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['345','345','300','300','250']"
                         data-fontsize="['20','20','20','20','16']"
                         data-lineheight="['28','28','28','28']"
                         data-width="['640','640','640','640','350']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        Mời bạn một miếng bánh ngon, một tách trà nóng, một ngày an yên
                    </div>

                    <div class="tp-caption tp-resizeme slider_button"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['435','435','390','390','360']"
                         data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="main_btn" href="#">Xem sản phẩm</a>
                    </div>
                </div>
            </li>
            <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="img/home-slider/slider-4.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/img/home-slider/slider-4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['175','175','125','165','160']"
                         data-fontsize="['65','65','65','40','30']"
                         data-lineheight="['80','80','80','50','40']"
                         data-width="['800','800','800','500']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left']">Cake Bakery ... <br />và những chiếc bánh</div>

                    <div class="tp-caption tp-resizeme secand_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['345','345','300','300','250']"
                         data-fontsize="['20','20','20','20','16']"
                         data-lineheight="['28','28','28','28']"
                         data-width="['640','640','640','640','350']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        “Giá trị của món ăn ngon, được quyết định bởi lương tâm của người đầu bếp” – Ben VaDo –
                    </div>

                    <div class="tp-caption tp-resizeme slider_button"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['435','435','390','390','360']"
                         data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="main_btn" href="#">Xem sản phẩm</a>
                    </div>
                </div>
            </li>
            <li data-index="rs-1589" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="img/home-slider/slider-5.jpg" data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/img/home-slider/slider-5.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['175','175','125','165','160']"
                         data-fontsize="['65','65','65','40','30']"
                         data-lineheight="['80','80','80','50','40']"
                         data-width="['800','800','800','500']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left']">Những chiếc bánh ... <br />chứa tình yêu</div>

                    <div class="tp-caption tp-resizeme secand_text"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['345','345','300','300','250']"
                         data-fontsize="['20','20','20','20','16']"
                         data-lineheight="['28','28','28','28']"
                         data-width="['640','640','640','640','350']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        “Thành công của những thợ làm bánh xuất phát từ đôi bàn tay vàng cùng khối óc sáng tạo và trái tim đầy nhiệt huyết.”
                        – Christina Tosi –
                    </div>

                    <div class="tp-caption tp-resizeme slider_button"
                         data-x="['left','left','left','15','15']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['435','435','390','390','360']"
                         data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']"
                         data-width="none"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="main_btn" href="#">Xem sản phẩm</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--================End Slider Area =================-->

<div class="cake_feature_inner">
    <div class="main_title" style="padding:20px;">
        <h2>Sản phẩm bán chạy</h2>
        <h5>Sáng tạo, kiên trì và chăm chỉ là những yếu tố tạo nên sự thành công của người thợ làm bánh </h5>
    </div>
    
    <div class="cake_feature_slider owl-carousel">
        @foreach (Product product in lstProducts)
        {
            <div class="item">
                <div class="cake_feature_item">
                    <div class="cake_img">
                        <img src="~/img/cake-feature/@product.Image" alt="@product.Id">
                    </div>
                    <div class="cake_text">
                        <h4 style="font-size:23px;">@String.Format(UOC_Format, "{0:c0}", @product.Price)</h4>
                        <a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@product.Id">
                            <h3>@product.Name</h3>
                        </a>
                        <a class="pest_btn" asp-controller="Carts" asp-action="Create">Thêm vào giỏ hàng</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!--================Service We offer Area =================-->
<section class="service_we_offer_area p_100">
    <div class="container">
        <div class="single_w_title">
            <h2>Dịch vụ</h2>
        </div>
        <div class="row we_offer_inner">
            <div class="col-lg-6">
                <div class="s_we_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-food-6"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Danh mục bánh</h4></a>
                            <p>Một chiếc bánh ngon xua tan bao căng thẳng</p>
                            <p>Tinh hoa ẩm thực</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="s_we_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-food-5"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Các loại bánh</h4></a>
                            <p>Chỉ tan trong miệng, không tan trên tay</p>
                            <p>Năng lượng ngọt</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="s_we_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-food-4"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Thực đơn</h4></a>
                            <p>Tinh hoa từ người thợ làm bánh</p>
                            <p>Thế giới ngọt ngào trong vòng tay bạn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="s_we_item">
                    <div class="media">
                        <div class="d-flex">
                            <i class="flaticon-transport"></i>
                        </div>
                        <div class="media-body">
                            <a href="#"><h4>Giao hàng tận nhà</h4></a>
                            <p>Tận hưởng thế giới ngọt ngào của bạn</p>
                            <p>Đạt hàng ngay nào</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Service We offer Area =================-->
<!--================Special Recipe Area =================-->
<section class="special_recipe_area">
    <div class="container">
        <div class="special_recipe_slider owl-carousel">
            @foreach (Product product in lstProducts)
            {
                <div class="item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="~/img/recipe/@product.Image" alt="1">
                        </div>
                        <div class="media-body">
                            <h4>@product.Name</h4>
                            <p>@product.Description</p>
                            <a class="w_view_btn"asp-controller="Products" asp-action="ProductDetail" asp-route-id="@product.Id">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!--================End Special Recipe Area =================-->
<!--================Discover Menu Area =================-->
<section class="discover_menu_area menu_d_two">
    <div class="discover_menu_inner">
        <div class="container">
            <div class="single_pest_title">
                <h2>Thực đơn ngày hôm nay</h2>
            </div>
            <div class="row" style="padding-left: 350px">
                <div class="col-lg-10">
                    <div class="discover_item_inner">
                        @foreach (MenuDetail menu in menuToday)
                        {
                            <div class="discover_item">
                                <a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@menu.ProductId">
                                    <h4>@menu.Product.Name </h4>
                                </a>
                                <p>Gía: <span>@String.Format(UOC_Format, "{0:c0}", menu.Product.Price)</span></p>
                                <p>Số lượng còn lại: <span>@menu.Stock</span></p>

                            </div>
                        }

                    </div>
                </div>

                <div class="col-lg-8" style="text-align:center;">
                    <a class="pest_btn" href="#">Xem thực đơn đầy đủ</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Discover Menu Area =================-->
<!--================End Client Says Area =================-->
<section class="our_chef_area p_100">
    <div class="container">
        <div class="row our_chef_inner">
            <div class="col-lg-3">
                <div class="chef_text_item">
                    <div class="main_title">
                        <h2>Các đầu bếp của chúng tôi</h2>
                        <p>“Giá trị của món ăn ngon, được quyết định bởi lương tâm của người đầu bếp”</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="chef_item">
                    <div class="chef_img">
                        <img class="img-fluid" src="~/img/chef/chef-1.jpg" alt="">
                        <ul class="list_style">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                    <a href="#"><h4>Bích Tuyền</h4></a>
                    <h5>Bàn tay vàng trong làng làm bánh</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="chef_item">
                    <div class="chef_img">
                        <img class="img-fluid" src="~/img/chef/chef-2.jpg" alt="">
                        <ul class="list_style">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="http://fb.com/vinhoi66"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                    <a href="#"><h4>Thế Vinh</h4></a>
                    <h5>Vua của các đầu bếp</h5>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="chef_item">
                    <div class="chef_img">
                        <img class="img-fluid" src="~/img/chef/chef-3.jpg" alt="">
                        <ul class="list_style">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                    <a href="#"><h4>Michale Joe</h4></a>
                    <h5>Expert in Cake Making</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Client Says Area =================-->
<!--================New Arivals Area =================-->
<section class="new_arivals_area p_100">
    <div class="container">
        <div class="single_pest_title">
            <h2>Sản phẩm mới</h2>
        </div>
        <div class="row arivals_inner">
            @{ int count = 0;}
            @foreach (Product product in lstProducts)
            {
                <div class="col-lg-6 col-sm-7">
                    <div class="arivals_chocolate">
                        <div class="arivals_pic">
                            <img class="img-fluid" src="~/img/cake-feature/@product.Image" alt="@product.Id">
                            <div class="price_text">
                                <h5 style="font-size:23px;">@String.Format(UOC_Format, "{0:c0}", @product.Price)</h5>
                            </div>
                        </div>
                        <div class="arivals_text">
                            <h4 style="font-size:44px;">Donut Chocolate</h4>
                            <a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@product.Id">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                count++;
                if (count == 1)
                    break;
            }

            <div class="col-lg-6">
                <div class="arivals_slider owl-carousel">
                    @foreach (Product product in lstProducts)
                    {
                        <div class="item">
                            <div class="cake_feature_item">
                                <div class="cake_img">
                                    <img src="~/img/cake-feature/@product.Image" alt="@product.Id">
                                </div>
                                <div class="cake_text">
                                    <h4 style="font-size:23px;">@String.Format(UOC_Format, "{0:c0}", @product.Price)</h4>
                                    <a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@product.Id">
                                        <h3>@product.Name</h3>
                                    </a>
                                    <a class="pest_btn" asp-controller="Carts" asp-action="Create">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
<!--================End New Arivals Area =================-->
