@model IEnumerable<CakeBakery.Models.Product>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Bánh";
 
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-controller="Products" asp-action="Create">
        <button class="au-btn au-btn-icon au-btn--green">
            <i class="zmdi zmdi-plus"></i>Bánh mới ra lò
        </button>
    </a>
</p>
<form asp-controller="Products" asp-action="SearchAdmin" method="get">
    <div style="margin-top:20px" class="input-group">
        <input type="text" name="userInput" class="form-control" placeholder="Nhập từ khóa cần tìm...">
        <span class="input-group-btn">
            <button style="width:50px" ;class="btn btn-default" type="submit"><i style="color:black;font-size:25px;" class="zmdi zmdi-search"></i></button>
        </span>
    </div>
</form>
<div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top:20px;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductType.TypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img src="~/img/cake-feature/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.Id)">

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                @if (item.Status == 1)
                {
                    <td>
                        Còn bán
                    </td>
                }
                else
                {
                    <td>
                        Hết bán
                    </td>
                }

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

