@model IEnumerable<CakeBakery.Models.Account>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Quản lí Tài khoản";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">
    <button class="au-btn au-btn-icon au-btn--green">
    <i class="zmdi zmdi-plus"></i>Tài khoản mới
    </button>
    </a>
</p>

<form asp-controller="Accounts" asp-action="Search" method="get">
    <div style="margin-top:20px" class="input-group">
        <input type="text" name="userInput" class="form-control" placeholder="Nhập từ khóa cần tìm...">
        <span class="input-group-btn">
            <button style="width:50px" ;class="btn btn-default" type="submit"><i style="color:black;font-size:25px;" class="zmdi zmdi-search"></i></button>
        </span>
    </div>
</form>
<div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-top:20px;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avatar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Hành động</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <img src="~/img/user/@Html.DisplayFor(modelItem => item.Avatar)" alt="@Html.DisplayFor(modelItem => item.Id)">

                </td>
                <td style="border-color: coral">
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                @if (item.Status == 1)
                {
                    <td style="color:lawngreen">
                        Hoạt động
                    </td>
                }
                else
                {
                    <td style="color:red">
                        Vô hiệu hóa
                    </td>
                }
                @if (item.Status == 1)
                {
            <td>
                <a asp-action="VoHieuHoa" asp-route-id="@item.Id">Vô hiệu hóa</a>
                
            </td>
                }
                else
                {
                    <td>
                        <a asp-action="VoHieuHoa" asp-route-id="@item.Id">Kích hoạt</a>
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

