@model IEnumerable<CakeBakery.Models.OrderDetail>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //unit of currency
    var UOC_Format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    ViewData["Title"] = "chi tiet hoa don";
    var inv = ViewData["inv"] as Order;
    var acc = ViewData["acc"] as Account;

}
<style>
    table {
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="container rounded bg-white mt-5 mb-5" style="padding-top: 70px">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="180px" src="~/img/user/@acc.Avatar" alt="@acc.Id"><span class="font-weight-bold">@acc.Username</span><span class="text-black-50">@acc.Email</span><span> </span></div>
        </div>
        <div class="col-md-4 border-right" style="padding-top: 50px">

            <div class="col-md-12"><label class="labels">Địa chỉ giao hàng</label><input disabled type="text" class="form-control" placeholder="@inv.ShippingAddress" value=""></div>
            <div class="col-md-12"><label class="labels">Ngày lập</label><input disabled type="text" class="form-control" placeholder="@inv.IssueDate" value=""></div>
            <div class="col-md-12"><label class="labels">Tổng tiền</label><input disabled type="text" class="form-control" placeholder="@String.Format(UOC_Format, "{0:c0}", @inv.Total)" value=""></div>
        </div>
        <div class="col-md-5" style="padding-top: 50px">
            <div class="p-7 py-9">
                <div class="d-flex justify-content-between align-items-center experience"><span>Thông tin đơn hàng</span></div><br>
                <table>
                    <tr>

                        <th>Tên bánh</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Product.Name</td>
                            <td>@item.Quantity</td>
                            <td>
                                @String.Format(UOC_Format, "{0:c0}", @item.Price)
                                                        
                                                    </td>
                        </tr>


                    }


                </table>
            </div>
        </div>
    </div>
</div>
